.credentials-container{
    width: 100%;
    /* height: 110vh; */
    /* border: 1px solid black; */
    margin: 20px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    /* position: relative; */
    /* margin-bottom: 40px; */
}
/* .credentials-container::before{
    content: '';
    height: fit-content;
    width: 100%;
    background-color: rgba(93, 196, 222, 0.358);
    position: absolute;
} */
.credentials{
    /* border: 1px solid black; */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.credentials h2{
    display: inline;
    margin: 15px auto;
    /* padding: 10px; */
    /* font-size: 1em; */
    z-index: 1;
    color: grey;
}
.content-container{
    /* border: 1px solid green; */
    /* width: 100%; */
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.credential-content{
    /* border: 1px solid indigo; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 20px; */
}
.credential-content h5{
    font-weight: 500;
    margin: 0;
}
.credential-content h5.number{
    color: grey;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.credential-content h5.content{
    color: grey;
    margin-top: 5px;
    font-size: 1.3em;
    text-transform: uppercase;
}


@media screen and (min-width: 768px) {
    .credentials{
        width: 100%;
        gap: 10%;
        justify-content: unset;
    }
    .credentials h2 {
        display: inline;
        margin: 0px auto;
        padding: 10px;
        font-size: 3em;
        z-index: 1;
        color: grey;
    }
    .credentials-container{
        width: 100%;
        height: 45vh;
        margin-bottom: 50px;
        flex-direction: column;
    }
    /* .credentials-container::before{
        height: 45vh;
        background: none;
    } */
    .content-container{
        /* border: 1px solid black; */
        width: 80%;
        display: flex;
        padding: 0px 10px;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        margin-top: -20px;
    }
    .credential-content h5.number{
        font-size: 2.3em;
    }
    .credential-content h5.content{
        font-size: 1.7em;
    }
}

@media screen and (min-with: 1024px) {
    .credential-content{
        width: 25%;
    }
}